@font-face {
	font-family: EmojiFallback;
	unicode-range: U+000A0-1FAFF;
	src: url("/assets/fonts/TwemojiMozilla.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	src: url("/assets/fonts/NotoSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans";
	src: url("/assets/fonts/NotoSans-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans";
	src: url("/assets/fonts/NotoSans-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Noto Sans";
	src: url("/assets/fonts/NotoSans-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

:root,
:host,
body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	--delta-text-color: var(--sl-color-neutral-950);
	--delta-text-color-faded: var(--sl-color-neutral-600);
	--sl-font-sans: "Rubik", "Noto Sans", Helvetica, Arial, sans-serif;
	--sl-font-size-small: 0.875rem;
	--sl-font-size-medium: 1rem;
	--sl-font-size-large: 1.125rem;
	--sl-font-size-x-large: 1.5rem;
	--sl-font-size-2x-large: 1.875rem;
	--sl-font-size-3x-large: 2.375rem;
}

h1 {
	font-size: var(--sl-font-size-3x-large);
}

h2 {
	font-size: var(--sl-font-size-2x-large);
}

h3 {
	font-size: var(--sl-font-size-x-large);
}

h4 {
	font-size: var(--sl-font-size-large);
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: var(--sl-color-neutral-0);
	font-family: var(--sl-font-sans);
	font-size: var(--sl-font-size-small);
	color: var(--sl-color-neutral-900);
}

.sl-toast-stack {
	bottom: 0 !important;
	top: auto !important;
	left: auto !important;
	right: 0 !important;
}
